<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>visite!</title>
  </head>
  <body>
    <h1>Vous avez visité notre page: {{ app.session.get('nbVisite') }}fois</h1>

   
  </body>
</html>
